* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

a {
    text-decoration: none;
    color: #1E0606;
    height: auto;
}


.main-logo:hover path{
stroke: #8f8383;
fill: #8f8383;
}

.main-logo:active path{
    stroke: #d2cdcd;
    fill: #d2cdcd;
    }

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: 'Crimson Text';
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

h4 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
}

h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.header a, h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.crimson-text{
        font-family: 'Crimson Text';
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
}

.button {
    background: #000000;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 22px;
    border: none;
    margin: 0;
    cursor: pointer;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.undotted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 43px;

}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 20px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-search-icon {
    margin-right: 24px;
    margin-top: 3px;
}

.header-contuct-us a {
    font-weight: 700;
}
footer {
    margin-top: 155px;
    background-color: #434343;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}


.footer-column-prop {
    width: 380px;
}

.footer-hr {
    height: 2px;
    border: none;
    background-color: #666666;

}

.footer-column-prop .footer-hr {
    margin-top: 22px;
}

.footer-columns-ul {
    margin-top: 30px;
    margin-bottom: 28px;
}

.footer-columns li {
    margin-bottom: 15px;
}

.footer-columns a {
    color: #FFFFFF;
}

.footer-columns {
    color: #AAAAAA;
}

.input-email {
    height: 40px;
    width: 295px;
    margin-top: 25px;
    margin-right: 0;
    border: 0;
    background-color: #666666;
    padding-left: 14px;
}

.footer-column-prop input::placeholder {
    color: #EBEBEB;
}

.footer-column-prop button {
    height: 42px;
}

.social-icons {
    display: flex;
    margin-top: 25px;
}

.social-icons li {
    margin-right: 10px;
}

.footer-last-row {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.rating {
    border: none;
    margin: 0;
    padding: 0;
}

.rating-caption {
    margin: 0 27px 0 0;
    padding: 0;
    float: left;
}

.rating-group {
    margin-top: 5px;
    position: relative;
    width: 100px;
    height: 13px;
    background-image: url(../img/off-star.png);
}

.rating-star {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 20px;
    height: 13px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.rating-star:checked, .rating-star:hover {
    background-image: url(../img/star.png);
}

.rating-star:nth-of-type(1) {
    width: 20px;
    z-index: 5;
}

.rating-star:nth-of-type(2) {

    width: 40px;
    z-index: 4;
}

.rating-star:nth-of-type(3) {
    width: 60px;
    z-index: 3;
}

.rating-star:nth-of-type(4) {
    width: 80px;
    z-index: 2;
}

.rating-star:nth-of-type(5) {
    width: 100px;
    z-index: 1;
}

.rating-wrapper:hover {
    color: #C29974;
}