h1 {
    padding-top: 20px;
}

.bread-crumbs {
    margin-top: 16px;
}

.bread-crumbs-item-active {
    margin-left: -5px;
}

.filters {
    margin-top: 43px;
    background-color: rgba(125, 151, 218, 0.2);
}

.filters form {
    padding-top: 17px;
    height: 254px;
}

.filter-sections {
    display: flex;
}

.filter-section-cost {
    width: 301px;

}

.filter-section-color {
    width: 199px;
}

.filter-section-delivery {
    width: 200px;
}

.filter-section-amount {
    width: 301px;
}

.filter-section-apply {
    margin-top: 63px;
}

.filter-sections h5 {
    margin-bottom: 11px;
}

.slider {
    margin-left: 3px;
    -webkit-appearance: none;
    width: 188px;
    height: 3px;
    background-color: #73757c;
    cursor: pointer;
    position: relative;
    /* overflow: hidden; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #c29974;
    background-image: url(../img/white-dot.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* box-shadow: -188px 0 0 164px #c29974; */

}

.start-slider {
    position: absolute;
    margin-top: 34px;
    margin-left: -193px;
}

.stop-slider {
    position: absolute;
    margin-top: 34px;
    margin-left: -13px;
}

.filter-ul {
    margin-top: 15px;
}


.input-disappeared {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-ul li {
    margin-bottom: 15px;
    padding: 0;
}

.checkbox-label {
    margin-left: -4px;
    padding-left: 29px;
}

.input-disappeared:checked+.checkbox {

    background: url(../img/checkbox-on.svg) no-repeat center;
}

.radio-delivery-label {
    margin-left: -4px;
    padding-left: 29px;
}

.radio-delivery {
    margin-left: -29px;
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/radio-off.svg) no-repeat center;
}

.input-disappeared:checked+.radio-delivery {

    background: url(../img/radio-on.svg) no-repeat center;
}

.radio-ul li {
    margin-bottom: 11px;
}

.amount-ul {
    display: flex;
}

.amount-ul li {
    line-height: 0;
    margin-top: -2px;
}

.amount-span {
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.input-disappeared:checked+.amount-span {
    background: #F3D0DB;
}

.filter-rezults-ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-rezults-li {
    margin-bottom: 16px;
    position: relative;
}

.filter-rezults-li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.filter-rezults-li a h5 {
    margin-top: -17px;
}

.learn-more {
    display: none;
    height: 207px;
    width: 207px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 192px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(229, 234, 248, 0.9);
    text-align: center;
}


.filter-rezults-li a img:hover+.learn-more, .learn-more:hover {
    display: flex;
}

.filter-rezults-li a img:active+.learn-more, .learn-more:active {
    display: flex;
    background-color: rgba(229, 234, 248, 0.67);
}


footer {
    margin-top: 35px;
}