h1{
    padding-top: 20px;
    word-spacing: 12px;
    padding-bottom: 25px;
}

.main-text{
    display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    margin-top: 47px;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
}
.right-text{
    margin-top: -15px;
    width: 380px;
    margin-left: 120px;
}

.big-brown-letters{
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    color: #C29974;  
}

footer {
    margin-top: 61px;
}